.card--fullscreen {
    width: 938px;
    margin: 20px auto;
    margin-bottom: 40px;
    padding: 12px;
    padding-top: 0;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.card--fullscreen__content-title {
    color: #1890FF;
    font-size: 20px;
}

.card--fullscreen__content-likes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.card--fullscreen__description {
    color: #000000BF;
    font-size: 13px;
}

.card--fullscreen__info {
    font-family: 'Inter UI', sans-serif;
}

.card--fullscreen__info-name {
    color: #000000D9;
    font-size: 18px;
}

.card--fullscreen__info-date {
    color: #00000080;
    font-size: 12px;
}

.card--fullscreen__like-button--filled {
    color: '#FF0707';
}

.card--fullscreen__main-body {
    margin-top: 20px;
    font-size: 18px;
}

.card--fullscreen__main-body img {
    max-width: 863px;
}

.card--fullscreen__tag-list {
    padding-top: 16px;
    margin-left: -5px;
    padding-bottom: 5px;
}

.card--fullscreen__edit-article-button {
    border: 1px solid #52C41A;
    color: #52C41A;
}

.card--fullscreen__article-actions {
    margin: 0;
    padding: 0;
    gap: 10px;
}

.card--fullscreen__description-article-actions {
    align-items: center;
    margin-top: 10px;
}